<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Valorant Roster</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel='stylesheet' href='./stylesheets/main.css'>
  <link href="//db.onlinewebfonts.com/c/7bb508fd7255ec38b6f29cb4cf8668cf?family=DINNextW1G-Regular" rel="stylesheet" type="text/css"/>
  <link href="http://fonts.cdnfonts.com/css/valorant" rel="stylesheet">
  <link href="//db.onlinewebfonts.com/c/b621d1ffb46493164fd62fb7a83ab0ff?family=MarkW05-Medium" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/561f38b1f4570de0fb8a39d691ab058c?family=Tungsten+Bold" rel="stylesheet" type="text/css"/>
</head>
<body>

  <ul class="title">
      <li><h1 class="main-title">Valorant</h1></li>
      <li><p class="other-title">Roster</p></li>
  </ul>

  <%= yield %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script src="./javascripts/new.js"></script>
</body>
</html>