<h1>Agent Notes</h1>
<form action="/new_note" method="POST">
    <label for="">Note</label>
    <input type="text" name="note">

    <label for="">Tier List</label>
    <input type="text" name="tier">

    <button>Add Note</button>
</form>