<div class="sign-in-box">
    <h2 class="sign-in-title">Sign in</h2>

    <form class="sign-in-form" action="/sessions" method="POST">
        <label for="">Email</label>
        <input type="text" name="email">

        <label for="">Password</label>
        <input type="password" name="password">

        <button class="sign-in-button">→</button>
    </form>
</div>