<div class="false-session-container">
    <h1 class="wrong-deets">Incorrect credentials</h1>
    <p class="wrong-deets-msg">If you don't have an account, please sign in.</p>
    <a class="bth-button" href="/">Back to homepage</a>

    <p class="make-account-msg">Don't have an account?</p>
    <a class="wrong-sign-button" href="/sign_up">Sign up</a>
</div>