<h1>Valorant Agent Roster</h1>

<h2>Sign up</h2>
<form action="/create_user" method="POST">
    <label for="">Name</label>
    <input type="text" name="name">

    <label for="">Email</label>
    <input type="text" name="email">

    <label for="">Password</label>
    <input type="password" name="password">

    <button>→</button>
</form>